<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<meta http-equiv="X-UA-Compatible" content="chrome=1">
	<meta name="viewport" content="width=640">
	<title>Ddasix.GitHub.io by ddasix</title>

	<link rel="stylesheet" href="stylesheets/core.css" media="screen">
	<link rel="stylesheet" href="stylesheets/mobile.css" media="handheld, only screen and (max-device-width:640px)">
	<link rel="stylesheet" href="stylesheets/pygment_trac.css">

	<script type="text/javascript" src="javascripts/modernizr.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
	<script type="text/javascript" src="javascripts/headsmart.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			$('#main_content').headsmart()
		})
	</script>
	<style>
	#spread { font-family: sans-serif; }
	#spread td { padding:0;margin: 0; }
	.output, input { 
		font-size: 10pt;
		position: absolute;
		height: 1.2em;
		width: 84pt;
		height: 16pt;
		overflow: hidden;
		padding-left: 4pt;
	}
	input { border: none;}
	.output { 
		background: white; 
		pointer-events: none;
		padding-top: 2pt;
		height: 14pt;
	}
	input:focus + .output { display: none; }

	table { border-collapse: collapse; } 
	td > div {
		width: 70pt;
		height: 16pt;
	} 
	td { border: 1px solid #EEE; }
	.column-label  > td, .row-label {
		text-align: center;
		background: #EEE;
	}
	.row-label { width: 2em; }

	</style>
</head>
<body>
	<a id="forkme_banner" href="https://github.com/ddasix">View on GitHub</a>
	<div class="shell">

		<header>
			<span class="ribbon-outer">
				<span class="ribbon-inner">
					<h1>Ddasix.GitHub.io</h1>
					<h2></h2>
				</span>
				<span class="left-tail"></span>
				<span class="right-tail"></span>
			</span>
		</header>
		<div id="no-downloads">
			<span class="inner"></span>
		</div>
		<span class="banner-fix"></span>
		<section id="main_content" ng-app>
			<h3><a id="welcome-to-github-pages" class="anchor" href="#welcome-to-github-pages" aria-hidden="true"><span class="octicon octicon-link"></span></a>GitHub 페이지에 오신것을 환영합니다.</h3>
			<p>This automatic page generator is the easiest way to create beautiful pages for all of your projects. Author your page content here using GitHub Flavored Markdown, select a template crafted by a designer, and publish. After your page is generated, you can check out the new branch:</p>

			<pre><code>$ cd your_repo_root/repo_name
$ git fetch origin
$ git checkout gh-pages</code></pre>

			<p>Mac 용 GitHub의를 사용하는 경우, 단순히 저장소를 동기화하고 새 분기를 볼 수 있습니다</p>
			<h3>
				<a id="designer-templates" class="anchor" href="#designer-templates" aria-hidden="true"><span class="octicon octicon-link"></span></a>디자이너 템플릿</h3>

			<p>We've crafted some handsome templates for you to use. Go ahead and continue to layouts to browse through them. You can easily go back to edit your page before publishing. After publishing your page, you can revisit the page generator and switch to another theme. Your Page content will be preserved if it remained markdown format.</p>

			<h3>
			<a id="rather-drive-stick" class="anchor" href="#rather-drive-stick" aria-hidden="true"><span class="octicon octicon-link"></span></a>Rather Drive Stick?</h3>

			<p>If you prefer to not use the automatic generator, push a branch named <code>gh-pages</code> to your repository to create a page manually. In addition to supporting regular HTML content, GitHub Pages support Jekyll, a simple, blog aware static site generator written by our own Tom Preston-Werner. Jekyll makes it easy to create site-wide headers and footers without having to copy them across every page. It also offers intelligent blog support and other advanced templating features.</p>

			<h3>
			<a id="authors-and-contributors" class="anchor" href="#authors-and-contributors" aria-hidden="true"><span class="octicon octicon-link"></span></a>Authors and Contributors</h3>

			<p>You can <a href="https://github.com/blog/821" class="user-mention">@mention</a> a GitHub username to generate a link to their profile. The resulting <code>&lt;a&gt;</code> element will link to the contributor's GitHub Profile. For example: In 2007, Chris Wanstrath (<a href="https://github.com/defunkt" class="user-mention">@defunkt</a>), PJ Hyett (<a href="https://github.com/pjhyett" class="user-mention">@pjhyett</a>), and Tom Preston-Werner (<a href="https://github.com/mojombo" class="user-mention">@mojombo</a>) founded GitHub.</p>

			<h3>
			<a id="support-or-contact" class="anchor" href="#support-or-contact" aria-hidden="true"><span class="octicon octicon-link"></span></a>고객지원</h3>
			<p>
			  페이지에 문제가 발생 하면 <a href="https://help.github.com/pages">https://help.github.com/pages</a>을 방문하시거나 <a href="mailto:support@github.com">support@github.com</a>으로 메일을 주시면 도움을 드리겠습니다.
			  }
			</p>
			<div id="spread" ng-controller="sheet">
				<table>
					<tr class="column-label">
						<td></td>
						<td ng-repeat="column in columns">{{column}}</td>
					</tr>
					<tr ng-repeat="row in rows">
						<td class="row-label">{{row}}</td>
						<td ng-repeat="column in columns">
							<div>
								<input ng-model="cells[column+row]"></input>
								<div ng-bind="compute(column+row)"
								class="output"></div>
							</div>
						</td>
					</tr>
				</table>
			</div>
		</section>

		<footer>
			<span class="ribbon-outer">
				<span class="ribbon-inner">
					<p>Projects by <a href="https://github.com/ddasix">ddasix</a> can be found on <a href="https://github.com/ddasix">GitHub</a></p>
				</span>
				<span class="left-tail"></span>
				<span class="right-tail"></span>
			</span>
			<p>Generated with <a href="http://pages.github.com">GitHub Pages</a> using Merlot</p>
			<span class="octocat"></span>
		</footer>
	</div>
	<script>
	sheet = function($scope, $parse) {
		$scope.columns = ['A', 'B', 'C', 'D'];
		$scope.rows = [1, 2, 3, 4];
		$scope.cells = {};

		process = function(exp) {
			return exp.replace(/[A-Z]\d+/g, function(ref) {
				return 'compute("' + ref + '")';
			})
		}
		$scope.compute = function(cell) {
			// return $parse($scope.cells[cell])($scope);
			return $parse(process($scope.cells[cell]))($scope);
		};
	}
	</script>
</body>
</html>